.logo { margin: 0 0 0 -15px; float: left; }
.logo:hover { cursor: pointer; }
.site-layout-content { min-height: 700px; }
.main-content-area { padding: 0px 24px; min-height: 700px; background-color: rgb(233, 237, 240); }